<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home Page</title>
    <link href="/static/css/index.css" media="screen" rel="stylesheet"
    type="text/css" />
</head>
<body>
    
    {% if username is None %}
    <div class="nav login">
       <a href="/login">Login</a>
    </div>
    {% else %}
       <a href="/liked" title="favorite" class="nav like">Favorite<span class="arrow"></span></a>
    {% end %}
    
    <div class="next">
        <a id="next" href="">
            <span class="arrow"></span>
            <span class="text">开始阅读</span>
        </a>
    </div>
    
    <div class="page">
        <div class="article">
        	<a target="_blank" href={{ article.asource }} class="source">来源</a>
            <h1 class="title">{{ article.atitle }}</h1>
            <div class="artibody">
                <b>{{ article.aauthor }}</b>
                <div>{% raw article.acontent %}</div>
            </div>
        </div>
    
         <div class="tools">
	    	<div id="likes" class="likes">like</div>
	    	<span class="number" style="display: none;"><span id="number">1749</span>people like this</span>
	    	
	    	<div class="share">
	    		<span>share</span>
	    		<ul class="sns">
		    		<li><a id="share-sina" href="#" title="share to sina weibo"><img src="/static/images/icon-sns-sina.gif" alt="share to sina weibo"></a></li>
		    		<li><a id="share-tencent" href="#" title="share to tencent weibo"><img src="/static/images/icon-sns-qq.gif" alt="share to tencent weibo"></a></li>
		    		<li><a id="share-douban" href="#" title="shrae to douban"><img src="/static/images/icon-sns-douban.gif" alt="shrae to douban"></a></li>
		    		<li><a id="share-twitter" href="#" title="share to twitter"><img src="/static/images/icon-sns-twitter.gif" alt="share to twitter"></a></li>
	    		</ul>
    		</div>
    	</div>
    </div>
 
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>
